{% extends "base.html" %}
{% block head %}
    <script type="text/javascript"> function Change(id) {
      let main_text = document.getElementById('main_text');
      switch(id) {
          case 'b0':
              main_text.innerHTML = "{{result_str_main.0 | safe}}";
              break
          case 'b1':
              main_text.innerHTML = "{{result_str_main.1 | safe}}";
              break
          case 'b2':
              main_text.innerHTML = "{{result_str_main.2 | safe}}";
              break
          case 'b3':
              main_text.innerHTML = "{{result_str_main.3 | safe}}";
              break
          case 'b4':
              main_text.innerHTML = "{{result_str_main.4 | safe}}";
              break
          case 'b5':
              main_text.innerHTML = "{{result_str_main.5 | safe}}";
              break
          case 'b6':
              main_text.innerHTML = "{{result_str_main.6 | safe}}";
              break
      }
    }
    </script>
{% endblock head %}

{% block navbar %}
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item mr-4">
            <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/search.html">ПОИСК ЗАКОНА</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/info.html">ИНФОРМАЦИЯ</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/comparison.html">СРАВНЕНИЕ</a>
          </li>
        </ul>
        <form class="d-flex" action="semantic">
          <button class="btn btn-outline-dark " type="button" onclick="location.href='{% url "semantic" %}'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-repeat iconmb" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
            СМЕНИТЬ АЛГОРИТМ
          </button>
        </form>
{% endblock navbar %}

{% block title %}
      <div class="p-4 p-md-5 text-white backImg">
    <div class="row">
      <div class="col-xl-7">
        <h1 class="display-4 font-italic" style="font-size: 7vmin">Антиплагиат для законов Российской Федерации</h1>
        <p class="lead my-3" style="font-size: 3vmin"><strong>Проверка документа на наличие смысловых противоречий с законами Государственной думы с помощью алгоритма поиска нечетких дубликатов</strong></p>
      </div>
    </div>
  </div>
{% endblock title %}

{% block content%}

    <div class="row" style="background-color: rgba(255,255,184,.9)">
      <div class="col-md-12">
        <p id="sorry" class="lead my-3">Приносим свои извинения, но из-за 5-ти минутного ограничения на ожидание ответа от сервера форматированный вывод и смена алгоритма приведут к ошибке 504. <br> Мы уже занимаемся этой проблемой.</p>
      </div>
    </div>

    <div class="row" style="background-color: lightpink">
      <div id="json" class="col-md-12"></div>
    </div>

  <form id="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
      <div class="col-md-2">
        <p class="lead my-3">Выберите точность сходства:</p>
      </div>
      <div class="col-md-4">
        <input id="my_range" type="number" class="js-range-slider" name="my_range" value="" />
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-md-6">
        <div class="form-file mb-4">
          <input type="file" id="form-file-input" class="form-file-input" name="customFile">
          <label class="form-file-label" for="currentFile">
            <span class="form-file-text">Выберите файл (pdf):</span>
            <span class="form-file-button">Обзор</span>
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <button type="submit" id="form-submit" class="btn btn-outline-dark btn-block mb-4">Проверить</button>
      </div>
      <div class="col-md-3">
          <div class="text-right">
              <input type="checkbox" id="switch_1" class="switch_1" name="switch_1" data-bs-toggle="tooltip" data-bs-placement="top" title="Форматированный вывод">
          </div>
      </div>
    </div>
  </form>

    <div class="row mb-5 pl-3 pr-3">
        <div class="progress container-fluid p-0">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                 role="progressbar"
                 id="progress"
                 aria-valuenow="{{ now_iteration | safe}}"
                 aria-valuemin="0"
                 aria-valuemax="{{ max_iteration | safe}}">
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card w-125">
          <div class="card-body">
            <h5 class="card-title">Ваш документ</h5>
              {% if result_str_main %}
                  <p id="main_text" class="card-text">{{result_str_main.0 | safe}}</p>
              {% else %}
                  <p class="card-text text-black-50">Проект федерального закона "О внесении изменения в статью 25 Федерального закона "О государственной гражданской службе Российской Федерации" подготовлен в целях повышения эффективности регулирования государственной гражданской службы.</p>
              {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header p-0" id="headingOne">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b0" class="btn btn-block text-left p-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {% if title and percent %}
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{title.0 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{percent.0 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                  {% else %}
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0 ml-2 text-dark">Схожий документ</h5></th>
                                <th scope="col"><h5 class="card-title mb-0 ml-2 text-dark">100%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                  {% endif %}
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  {% if result_str_cmp %}
                      {{result_str_cmp.0 | safe}}
                  {% else %}
                      <p class="text-black-50">Проект постановления "Об изменениях в статье 25 Федерального закона "О государственной гражданской службе России" подготовлен в целях повышения эффективности регулирования государственной службы.</p>
                  {% endif %}
              </div>
            </div>
          </div>

          {% if title and percent and result_str_cmp %}
          <div class="card">
            <div class="card-header p-0" id="headingTwo">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b1" class="btn btn-block text-left collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{title.1 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{percent.1 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  {{result_str_cmp.1 | safe}}
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingThree">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b2" class="btn btn-block text-left collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{title.2 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{percent.2 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                  {{result_str_cmp.2 | safe}}
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingFour">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b3" class="btn btn-block text-left collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{title.3 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{percent.3 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                  {{result_str_cmp.3 | safe}}
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingFive">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b4" class="btn btn-block text-left collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{title.4 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{percent.4 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                  {{result_str_cmp.4 | safe}}
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingSix">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b5" class="btn btn-block text-left collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{title.5 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0  ml-2 text-dark">{{percent.5 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                </button>
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                  {{result_str_cmp.5 | safe}}
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingSeven">
              <h2 class="mb-0">
                <button onclick="Change(id)" id="b6" class="btn btn-block text-left collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      <h5 class="card-title mb-0 text-dark">
                        <table class="table table-borderless m-0">
                            <tbody>
                              <tr>
                                <th scope="col"><h5 class="card-title mb-0 ml-2 text-dark">{{title.6 | safe}}</h5></th>
                                <th scope="col"><h5 class="card-title mb-0 ml-2 text-dark">{{percent.6 | safe}}%</h5></th>
                              </tr>
                            </tbody>
                        </table>
                      </h5>
                </button>
              </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                  {{result_str_cmp.6 | safe}}
              </div>
            </div>
          </div>

        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}
  <div id="copy" class="footer">
    <div class="container">
      <div class="row pt-2">
        <div class="col-md-3">
          <h6 style="text-align: center;" class="text-light">Copyright © 2021</h6>
          <h6 style="text-align: center;" class="text-light">Антиплагиат законов РФ.</h6>
          <h6 style="text-align: center;" class="text-light">Все права защищены</h6>
        </div>
        <div class="col-md-3">
          <h6 style="text-align: center;" class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg></h6>
          <h6 style="text-align: center;" class="text-light">shilovskaia22@mail.ru</h6>
          <h6 style="text-align: center;" class="text-light">ruleva_18@mail.ru</h6>
        </div>
        <div class="col-md-3">
          <h6 style="text-align: center;" class="text-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg></h6>
          <h6 style="text-align: center;" class="text-light">+79252087620</h6>
          <h6 style="text-align: center;" class="text-light">+79776421290</h6>
        </div>
        <div class="col-md-3">
          <h6 style="text-align: center;" class="text-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </h6>
          <h6 style="text-align: center;" class="text-light">Россия, Москва</h6>
        </div>
      </div>
    </div>
  </div>
{% endblock footer %}

{% block js %}
   <script>
   let values = [2, 3, 4, 5];
    {% if shingle_len %}
        let point = values.indexOf({{ shingle_len }});
    {% else %}
        let point = values.indexOf(3);
    {% endif %}
    $(".js-range-slider").ionRangeSlider({
      grid: true,
      hide_min_max: true,
      from: point,
      values: values,
      hide_from_to: true,
      skin: "flat"
    });
  </script>
{#    <script type="text/javascript">#}
{#        jQuery(document).ready(function($) {#}
{#            $("#form-submit").click(function () {#}
{#                setInterval('getBarPercent()', 5000);#}
{#            });#}
{#        });#}
{#        function getBarPercent() {#}
{#            $.get("/main_bar/")#}
{#                .done(function (data) {#}
{#                    var status = data;#}
{#                    $("[aria-valuenow]").html(data);#}
{#                    $('.progress-bar').css('width', status + '%');#}
{#                });#}
{#        }#}
{#    </script>#}

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
    $("#form").on("submit", function() {
        $('#form').ajaxSubmit({
            type: 'POST',
            url: '/output/',
            target: '#json',
            {#dataType: #}
            success: function() {
                return 1
                {#console.log(data)#}
                {#$('#json').html(data);#}
            }
         });
    });
    </script>

{% endblock js %}